<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RedisManagementStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RedisManagementStudio.Properties.Settings>
            <setting name="FFolderPosition" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="FFolderDimension" serializeAs="String">
                <value>363, 393</value>
            </setting>
            <setting name="FConnexionPosition" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="FConnexionDimension" serializeAs="String">
                <value>434, 473</value>
            </setting>
            <setting name="FImportExportPosition" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="FImportExportDimension" serializeAs="String">
                <value>498, 420</value>
            </setting>
            <setting name="FRedisUtilPostion" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="FRedisUtilDimension" serializeAs="String">
                <value>900, 460</value>
            </setting>
            <setting name="FRedisUtilSplit" serializeAs="String">
                <value>155</value>
            </setting>
            <setting name="RedisListInfoUIColProperty" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="RedisListInfoUIColValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FRedisUtilClientListUISplit" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="RedisClientListUISplit" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="RedisClientListUIColProperty" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RedisClientListUIColValue" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FManagementPosition" serializeAs="String">
                <value>200, 300</value>
            </setting>
            <setting name="FManagementDimension" serializeAs="String">
                <value>600, 445</value>
            </setting>
            <setting name="ColWidthEditHashKey" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ColWidthEditHashValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColWidthEditHashNew" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColWidthEditTextKey" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ColWidthEditTextValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColWidthEditZSetMembre" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColWidthEditZSetScore" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColWidthEditZSetNew" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FManageInfoPosition" serializeAs="String">
                <value>200, 150</value>
            </setting>
            <setting name="FManageInfoDimensions" serializeAs="String">
                <value>700, 450</value>
            </setting>
            <setting name="FManageInfoSpliter" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ColManageCommand" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ColManageCode" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ColManageTypeAlarm" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColManageTitre" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="KeySearchDisplayMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColWidthMonitorDate" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ColWidthMonitorIp" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ColWidthMonitorCommand" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MonitorConsoleScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorConsoleSaveFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="KeySearchDisplayMelangeType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColWidthPubSubDate" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ColWidthPubSubAction" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColWidthPubSubPattern" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColWidthPubSubChanel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColWidthPubSubMessage" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FAddKeyLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="FAddKeyDimension" serializeAs="String">
                <value>347, 254</value>
            </setting>
            <setting name="ColWidthMonitorBase" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ColWidthMonitorPort" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeySearchNombreMinChar" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KeyGroupColCle" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="KeyGroupColType" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ColWidthSentinelServersProperty" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColWidthSentinelServersValue" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SentinelServersSplitter" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="FRenamePosition" serializeAs="String">
                <value>200, 100</value>
            </setting>
            <setting name="FRenameDimension" serializeAs="String">
                <value>300, 165</value>
            </setting>
        </RedisManagementStudio.Properties.Settings>
    </userSettings>
</configuration>
